*{
  font-family: helvetica;
  box-sizing: border-box;
  flex-wrap: wrap;
  text-shadow: 0.25px 0.25px 0.25px;
}

body {
  background-color:#edf8ff;
}

iframe {
  width: 100%;
  max-width: 400px;
  object-position: left;
}

a {
  color: white;
}

.title {
  text-align: center;
  font-size: 2.0em;
  background-color: #a82b2b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 2px gray;
  border-top: 2px black solid;
  border-left: 2px black solid;
  border-right: 2px black solid;
}

.subTitle {
  text-align: center;
  font-size: 1.5em;
  border-top: 2px black solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  background-color: #a82b2b;
  box-shadow: 2px 2px 2px gray;
  border-bottom: 2px black solid;
  border-left: 2px black solid;
  border-right: 2px black solid;
}

[class*="Header"] {
  font-size: 1.5em;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 2px gray;
  border: 2px black solid;
}

[class*="Text"] {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 2px gray;
  border: 2px black solid;
}

.devotionalHeader {
  background-color: white;
}

.devotionalText {
  background-color: white;
}

.overviewHeader {
  background-color: #3f00e0;
  color: white;
}

.overviewText {
  background-color: #3f00e0;
  color: white;
}

.outcomeHeader {
  background-color: #fff482;
}

.outcomeText {
  background-color: #fff482;
}

.resourcesHeader {
  background-color: #0a27ff;
  color: white;
}

.resourcesText {
  background-color: #0a27ff;
  color: white;
}

.learningHeader {
  background-color: #62e04c;
}

.learningText {
  background-color: #62e04c;
}

.activitiesHeader {
  background-color: #606060;
  color: white;
}

.activitiesText {
  background-color: #606060;
  color: white;
}

.row {
    width: 100%;
  }

  .row::after {
      content: "";
      clear: both;
      display: table;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  [class*="col-"] {
    width: 100%;
    float: left;
    padding: 2.5px;
  }

  @media only screen and (min-width: 768px) {

       .col-1 {width: 8.33%;}
       .col-2 {width: 16.66%;}
       .col-3 {width: 25%;}
       .col-4 {width: 33.33%;}
       .col-5 {width: 41.66%;}
       .col-6 {width: 50%;}
       .col-7 {width: 58.33%;}
       .col-8 {width: 66.66%;}
       .col-9 {width: 75%;}
       .col-10 {width: 83.33%;}
       .col-11 {width: 91.66%;}
       .col-12 {width: 100%;}

       .desktopMargin {
         margin-left: 16.66%;
         margin-right: 16.66%;
       }

       .desktopMarginLeft {
         margin-left: 16.66%;
       }
       .desktopMarginRight{
         margin-right: 16.66%;
       }

}
